/**
 * Various tweaks to the Read the Docs theme to better conform with Godot's
 * visual identity. Many colors are also overridden to use CSS variables.
 * This makes it possible to provide an automatically-used dark theme
 * based on browser preferences.
 */

 /* Default (light) theme colors */
 
/* Main sections */



.wy-nav-content {
    /*230303 Enlage main section*/

    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding-right: 10%;
    margin-right: 10%;
    overflow: scroll;
}

.wy-body-for-nav {
  /*1118*/
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.wy-side-nav-search > a:active,
.wy-side-nav-search .wy-dropdown > a:active {
    background-color: var(#4070a0);
}


.wy-side-nav-search > a:active,
.wy-side-nav-search .wy-dropdown > a:active {
    background-color: var(#4070a0);
}


.wy-menu-vertical a {
  color: var(#4070a0);
}

.wy-menu-vertical a:hover {
  background-color: var(#4070a0);
  color: var(#4070a0);
}

.wy-menu-vertical a:active {
  background-color: var(#4070a0);
}

.wy-side-nav-search, .wy-menu-vertical a, .wy-menu-vertical a:active span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a:active span.toctree-expand {
    color: var(#4070a0);
    opacity: 1;
}

.wy-side-nav-search, .wy-menu-vertical a, .wy-menu-vertical a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand {
    color: var(#4070a0);
    opacity: 1;
}

.wy-menu-vertical li.current a,
.wy-menu-vertical li.toctree-l2.current > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l4 > a {
    background-color: var(#4070a0);
    color: var(#4070a0);
    border-color: var(#4070a0);
}

.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li.toctree-l2.current > a:hover,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:hover {
    background-color: var(#4070a0);
}

.wy-menu-vertical li.current a:active,
.wy-menu-vertical li.toctree-l2.current > a:active,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:active,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:active {
    background-color: var(#4070a0);
}

/* callout styles*/


.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid rgb(217, 214, 214);
  border-left-width: 5px;
  border-radius: 3px;
}
.calloutTitle {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #7777;
}
.bs-callout-default .calloutTitle {
  color: $color-default;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary .calloutTitle {
  color: #428bca;
}
.bs-callout-success {
  border-left-color:#5cb85c;
}
.bs-callout-success .calloutTitle {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color:#d9534f;
}
.bs-callout-danger .calloutTitle {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color:#f0ad4e;
}
.bs-callout-warning .calloutTitle {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color:#5bc0de;
}
.bs-callout-info .calloutTitle {
  color: #5bc0de;
}

.alert code {
  background: transparent;
}

blockquote {
    background-color: #eef7fa;
    font-family: arial;
    font-size: .9em;
    margin: 0px;
    padding: 1em;
}

p.note {
    background: #f1f1f1;
    padding: 1em;
    border-left: 1em solid orange;
    overflow: auto;
}

p.takeaway {
    background: #f1f1f1;
    padding: 1em;
    border-left: 1em solid purple;
    overflow: auto;
}

p.survey {
  background: #f1f1f1;
  padding: 1em;
  border-left: 1em solid orange;
}

p.tip {
    background: #f1f1f1;
    padding: 1em;
    border-left: 1em solid deepskyblue;
    overflow: auto;
}

p.warning {
    background: #f1f1f1;
    padding: 1em;
    border-left: 1em solid red;
    overflow: auto;
}

p.note::before {
    content: "Note: ";
    font-weight: bold;
}

p.takeaway::before {
    content: "Takeaway: ";
    font-weight: bold;
}

p.workshop::before {
    content: "Workshop: ";
    font-weight: bold;
}

p.tip::before {
    content: "Tip: ";
    font-weight: bold;
}

p.warning::before {
    content: "Warning: ";
    font-weight: bold;
}

.alert {
  font-size: 1.6rem;
}
/* end callout styles*/


.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1
}

.alert-info hr {
  border-top-color: #a6e1ec
}

.alert-info .alert-link {
  color: #245269
}